html, body{
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background: url(./misc/imgs/bg.jpeg) no-repeat fixed center;
  background-size: cover; 
}

.conversation{
  width: 40%;
  min-width: 600px;
  height: auto; 
  background: white;
  border: 1px gray solid;
  padding: 15px;
  border-radius: 5px;
  .conversation-title{ 
    width: 100%;
    height: 45px;
    input{
      width: 100%;
      border: none;
      font-size: 1.5em;
      text-align: center;
      border-bottom: 1px solid rgb(0, 65, 87)
    }
  }
  .dialogs{
    height: 85vh;
    overflow: scroll;
    }
    .line{
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
      border-bottom: 1px solid gray;
      margin: 1.5em auto;
      padding-bottom: 1.2em;
      * {
        margin: 5px 0;
      }
      .input-name{
        display: flex;
        width: 100%;
        flex-wrap:no-wrap;
        justify-content: space-between;
        select{
          width: 40%;
          padding: 5px;
          font-size: 1.2em;
          border: none;
          border-bottom: 1px solid rgb(0, 65, 87); 
          -webkit-appearance: none;
          -moz-appearance:    none;
          appearance:         none;   
          -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
          -moz-border-radius: 0;  /* Firefox 1-3.6 */     
          border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
          background: url(./misc/imgs/arrow-down.png) 96% / 15% no-repeat #eee;
        } 
      }
      textarea {
        resize: none;
        position:relative;
        width: auto;
        font-size: 1.2em;
        border: 1px solid rgb(0, 65, 87)
      }
      .expressions{ 
        margin-bottom: 1.5em;
        input[type=checkbox]{
          margin-left: 15px;
        }
      }
      .dialog-opts{ 
         justify-content: space-between; 
         .dialog-title{
           font-family: Arial, Helvetica, sans-serif;
           margin: 0 15px;
           font-size: 1.5em;
         }
       }
    }
  }
  .dialog-opts{
    margin-top: 20px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    *{
      margin: 0 5px;
    }
  }


.btn{
  font-size: 1em;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-add {background-color: #4CAF50;} /* Green */
.btn-delete {background-color: #f44336;} /* Red */
.btn-generate {background-color: #008CBA;} /* Blue */

*{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

select{
    padding: 0 !important;
    margin: 0 !important; 
    border: 1px solid rgb(0, 65, 87); 
    overflow: hidden !important;
    background-color: #fff !important;
}